<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <table class="table is-bordered">
  		<thead>
		<tr>
			<th>Title</th>
			<th>Price</th>
			<th>Description</th>
			<th>Listing ID</th>
			<th>Market Status</th>
		</tr>
		</thead>
		<tbody>
		{% for item in basket %}
			<tr>
				<td><h1> {{ item.title }} 		</h1></td>
				<td><h1> {{ item.price}} 		</h1></td>
				<td><h1> {{ item.description}}	</h1></td>
				<td><h1> {{ item.listing_id }}	</h1></td>
				<td><h1> {{ item.state}}		</h1></td>
				<td>
					<form method="POST" action="/delete/{{item.listing_id}}">
						<button class="button is-danger">Remove</button>
					</form>
				</td>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    </div>
  </section>
  </body>
</html>