<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <table class="table is-bordered">
  		<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Price</th>
			<th>State</th>
			<th>Listing ID</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td><h1> {{ title }} 		</h2></td>
				<td><h2> {{ description }}	</h2></td>
				<td><h2> £{{ price }}		</h2></td>
				<td><h2> {{ state}}		</h2></td>
				<td><h2> {{ listing_id}}	</h2></td>				
			</tr>
		</tbody>
	</table>
    </div>
	</div>
  </section>
  </body>
</html>
