<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Item</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <table class="table is-bordered">
  		<thead>
		<tr>
			<th>Title</th>
			<th>State</th>
			<th>Price(GBP)</th>
			<th>More Information</th>
			<th>Add To Basket</th>
		</tr>
		</thead>
		<tbody>
		{% for item in items %}
			<tr>
				<td><h1> {{ item.title }} 		</h1></td>
				<td><h1> {{ item.state }} 		</h1></td>
				<td><h2> £{{ item.price}}		</h2></td>
				<td><div class = "buttons"> <a class="button is-primary" href="/info/{{ item.listing_id }}"> {{item.listing_id}}</a> </td> </div>
				<td><div class = "buttons"> <a class="button is-link" href="/basket/">Add to Basket</a></div>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    </div>
  </section>
  </body>
</html>